<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html(编辑分类)"></head>
<body>
<div th:replace="include/admin/adminNavigtor::html"></div>
<script>

</script>
<div id="workingArea" class="div">
<div class="jumbotron">
  <div class="container" align="center">
      <h2 class="text-info" style="font-family:宋体;font-weight:bold;font-size:49px">输入数据错误</h2>
      <br>
      <div class="text-muted">请检查内容，避免输入表情符号等元素</div>
      <br>
      <br>
      <p><a role="button" onclick="javascript:history.back(-1)" href="#" class="btn btn-success">返回</a></p>
  </div>
</div>
<div th:replace="include/admin/adminFooter::html"></div>
</body>
</html>