<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html(人物管理)"></head>
<body>
<div th:replace="include/admin/adminNavigator::html"></div>
<script>
$(function(){
    var tid = getUrlParms("tid");
    var data4Vue = {
        uri:'peoples',
        beans:[],
        bean:{id:0, name:'', info:'', type:{id:0}},
        type:'',
        file:null
    };
    var vue = new Vue({
        el:'#workingArea',
        data:data4Vue,
        mounted:function(){
            this.getType();
            this.list();
            $('#name').on('input',checkEn(12));
        },
        methods:{
            getType:function(){
                var url = "types/"+tid;
                axios.get(url).then(function(response) {
                    var result = response.data
                    vue.type = result.data;
                });
            },
            list:function(){
                var url = "types/"+tid+"/"+this.uri;
                axios.get(url).then(function(response){
                    var result = response.data;
                    vue.beans = result.data;
                });
            },
            add:function(){
                if(!checkEmpty(this.bean.name,"姓名"))
                    return;
                if(!checkEmpty(this.bean.info,"介绍"))
                    return;
                if(!checkEmpty(this.file,"图标"))
                    return;
                var url = this.uri;
                var formData = new FormData();
                this.bean.type.id = tid;
                formData.append("image",this.file);
                formData.append("name",this.bean.name);
                formData.append("info",this.bean.info);
                formData.append("type",this.bean.type.id);
                axios.post(url,formData).then(function(response){
                	var result = response.data;
                	if(0!=result.code){
                		alert(result.message);
                	}
                	else{
                		vue.list();
                        vue.bean = {id:0, name:'', info:'', type:{id:0}};
                        vue.file = null;
                        location.reload();
                	}
                });
            },
            deleteBean:function(id){
                if(!checkDeleteLink())
                    return;
                var url = this.uri+"/"+id;
                axios.delete(url).then(function(response){
                	var result = response.data;
                	if(0!=result.code){
                		alert(result.message);
                	}
                	else{
                		vue.list();
                	}
                });
            },
            up:function(id){
                var url = this.uri+"/"+id+"/up";
                axios.get(url).then(function(response){
                    vue.list();
                });
            },
            down:function(id){
                var url = this.uri+"/"+id+"/down";
                axios.get(url).then(function(response){
                    vue.list();
                });
            },
            getFile:function(event){
                this.file = event.target.files[0];
            }
        }
    });
});
</script>
<div id="workingArea" class="div">
	<ul class="breadcrumb">
		<li><a href="admin_type_list">人物分类</a></li>
		<li><a href="#">{{type.name}}</a></li>
	</ul>
	<div class="listDiv">
		<table class="table table-striped table-bordered table-hover  table-condensed">
			<thead>
				<tr>
					<th>序号</th>
					<th>图标</th>
					<th>姓名</th>
					<th>介绍</th>
					<th>社交</th>
					<th>修改图片</th>
					<th>编辑</th>
					<th>删除</th>
					<th colspan="2">排序</th>
				</tr>
			</thead>
			<tbody>
                <tr v-for="bean in beans">
                    <td>{{bean.peopleOrder}}</td>
                    <td><img height="20px" :src="'img/peopleLogo/'+bean.id+'.jpg'"></td>
                    <td>{{bean.name}}</td>
                    <td>{{bean.info}}</td>
                    <td>
                        <a :href="'admin_social_list?pid='+bean.id"><span class="glyphicon glyphicon-list"></span></a>
                    </td>
                    <td>
                        <a :href="'admin_people_image?id='+bean.id"><span class="glyphicon glyphicon-picture"></span></a>
                    </td>
                    <td>
                        <a :href="'admin_people_edit?id='+bean.id"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td>
                        <a @click="deleteBean(bean.id)" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                    <td>
                        <a @click="up(bean.id)" ref="#"><span class="glyphicon glyphicon-triangle-top"></span></a>
                    </td>
                    <td>
                        <a @click="down(bean.id)" ref="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                    </td>
                </tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-warning addDiv">
		<div class="panel-heading">新增人物 (图片尺寸120*120)</div>
		<div class="panel-body">
            <table class="addTable">
                <tr>
                    <td class="name">姓名</td>
                    <td><input id="name" @keyup.enter="add" v-model.trim="bean.name" type="text" placeholder="中文12字以内，英文24字以内" maxlength="12" class="form-control"></td>
                </tr>
                <tr>
                    <td class="name">介绍</td>
                    <td><input id="info" @keyup.enter="add" v-model.trim="bean.info" type="text" placeholder="10字以内" maxlength="10" class="form-control"></td>
                </tr>
                <tr>
                    <td class="name">图标</td>
                    <td><input id="peoplePic" @change="getFile($event)" name="image" accept="image/*" type="file"/></td>
                </tr>
                <tr>
                    <td class="submitTR" colspan="2" align="center">
                        <button type="submit" @click="add" class="btn btn-success">提交</button>
                    </td>
                </tr>
            </table>
		</div>
	</div>
	
</div>
<div th:replace="include/admin/adminFooter::html"></div>
</body>
</html>